:root {
  --primary-color: #13a085;
  --primary-hover-color: #0fc19e;
  --bg-color: #f1f1f1;
  --hover-bg-color: #f5f5f5;

  --text-color: #000;
  --a-hover-color: #07a;

  --grey-color: #a5a5a5;
  --dark-grey-color: #808080;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: var(--bg-color);
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  /* font-family: 'Courier New', Courier, monospace; */
  font-family: 'Nanum Gothic', 'Noto Sans Korean', 'Ubuntu Condensed';
}

#__next {
  width: 100%;
  height: 100%;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

a:hover {
  color: var(--a-hover-color);
  cursor: pointer;
}

a,
input,
textarea,
li {
  transition: all 0.3s;
}

ul {
  list-style: none;
  padding: 0;
}

button {
  border: 0;
  outline: none;
  cursor: pointer;
  background-color: transparent;
}

/* antd */
.ant-layout {
  background: var(--bg-color);
}

.ant-btn {
  padding: 0;
  border: 0;
  outline: none;
  box-shadow: none;
}

.ant-btn:hover {
  background-color: inherit;
  color: inherit;
}

.ant-btn:active {
  background-color: inherit;
  border-color: inherit;
  color: inherit;
}

.ant-input:focus {
  border-color: none;
  box-shadow: none;
}

/* tinymce editor */
.tox .tox-toolbar__group {
  margin-left: 20px !important;
  padding: 0 !important;
  position: relative;
  cursor: pointer;
}

.tox .tox-toolbar__group:not(:first-child)::before {
  content: '';
  display: block;
  position: absolute;
  top: 14px;
  left: -10px;
  height: 13px;
  width: 1px;
  background-color: #efefef;
}

.tox .tox-tbtn--bespoke {
  background: none !important;
}

.tox .tox-tbtn--select {
  width: 60px !important;
}

.tox .tox-split-button:hover {
  box-shadow: none !important;
  background: rgba(0, 0, 0, 0.0392156862745098) !important;
}

.tox .tox-tbtn:hover {
  background: rgba(0, 0, 0, 0.0392156862745098) !important;
}

.tox .tox-tbtn[role='presentation']:hover {
  background: transparent !important;
}

/* .tox .tox-tbtn--enabled {
  background-color: #333 !important;
  color: #fff !important;
}

.tox .tox-tbtn--enabled:hover {
  background-color: #333 !important;
  color: #fff !important;
} */
